* {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

a,
a:visited,
a:focus {
  text-decoration: none;
}

body {
  font-family: $Font-body;
  font-size: $Font-size;
  background: $Color-bg-primary;
  margin: 0;
  padding: 0;
  color: $White;
}

/* || Resets */

a {
  color: unset;
}

input[type="button"] {
}

/* || container */

.container {
  padding: 0 1.5625rem;

  @media only screen and (min-width: 37.5em) {
    padding: 0 4.5625rem;
  }
}
